.gallery {
  background-image: url('../img/bggallery.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 995px;
  padding: 26px 0;

}

.gallery__title {
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px;
  text-align: left;
  margin-bottom: 22px;
  position: relative;
  top: 40px;
  left: 157px;
  color: #ffffff;
}
.gallery__container {
  display: flex;
}
.gallery__container {
  max-width: 1600px;
  margin: 0 auto;
}
.gallery__select {
  color: rgb(255, 255, 255);
}
.gallery__select-text {
  color: #ffffff;
  margin-bottom: 9px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
}

.gallery__autotext{
  position: relative;
  top: 516px;
  left: 0px;
  width: 401px;
  height: 118px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
}
.gallery__swiper-container {
  max-width: 1266px;
  max-height: 884px;
}

.swiper-container-multirow-column>.swiper-wrapper {

}
.swiper-wrapper {

}

.gallery__swiper-wrapper {
}
.gallery__swiper-slide {}



.gallery__select {
  height: 39px;
  margin: 18px 300px 0 0;
}

.choices[data-type*=select-one] {
  cursor: pointer;
  width: 400px;
  height: 54px;

}

.choices__inner {
  min-height: 37px;
  padding: 5px 12px 7px 11px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: black;
}

.is-open .choices__inner {
  position: relative;
  border-color: var(--color-dark-grey);
  border-radius: 10px;
  z-index: 1;
}


.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 12px;
  padding-top: 0px;
}

.choices__list--dropdown .choices__item--selectable {
  padding-right: 10px;
}


.choices__placeholder {
  opacity: 1;
}

.choices__list--single {
  display: inline-block;
  padding: 3px 16px 4px 4px;
  width: 100%;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}

.choices__item{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.choices__list--single .choices__item {
  width: 100%;
  height: 19px;
}

.is-open .choices__list--dropdown {
  border-top: 0px;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-color: var(--color-dark-grey);

}

.choices[data-type*=select-one]:after {
  height: 6px;
  width: 6px;
  border-color: transparent transparent #666666 #666666;
  border-width: 1px;
  margin-top: -8.5px;
  transform: rotate(-45deg);
  z-index: 1;
}

.choices[data-type*=select-one].is-open:after {
  margin-top: -3.5px;
  border-color: #f16eeb #dc78e6 transparent transparent;
}

.common-border {
  border: 1px solid var(--color-dark-grey);
}

#choices--selectCustom-item-choice-1 {
  display: none;
}

.choices__list--dropdown .choices__item {
  padding: 7px 10px 17px 13px;
  height: 36px;
  background-color: black;
  border-bottom: 1px solid white;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: black;
}

.choices__list--dropdown {
  margin-top: -48px;
  z-index: 0;
  background-color: transparent;
}






