@media (max-width: 1630px){
  .container {
  max-width: 1100px;
  margin: 0 auto;
  }

  .header__list {
    right: 34px;
}

  .header__list li {
  position: relative;
  margin: 0px 11px 0 11px;
  right: 9%;
  }

  .header__antry-img {
  right: 5.4%;
  }

  .custom-scroll__nav {
  width: 1100px;
  }

  .custom-scroll__list {
  width: 1100px;
  }

  .topmenu > li {
  margin-right: 42px;
  }

  .swiper-slide1 {
  background-image: url('../img/unsplash1.png');
  }

  .swiper-slide2 {
  background-image: url('../img/unsplash2.png');
  }

  .swiper-slide3 {
  background-image: url('../img/unsplash3.png');
  }

  .header__search-btn2 {
  right: 190px;
  }

  .header__search2 {
  width: 226px;
  }

  .header__input2 {
  font-size: 14px;
  }
}

@media (max-width: 1024px){
  .header__burger{
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  z-index: 3;
  left: 51px;
  top: 11px;
  background-color: transparent;
  border: 0;
  }

  .header__burger::before,
  .header__burger::after{
  content: '';
  background-color: var(--color-white);
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all .3s ease 0s;
  }

  .header__burger::before{
  top: 0;
  }

  .header__burger::after{
  bottom: 0;
  width: 77%;
  }

  .header__burger.push::before{
  transform: rotate(45deg);
  top: 11px;
  width: 100%;
  }

  .header__burger.push::after{
  transform: rotate(-45deg);
  bottom: 18px;
  width: 100%;
  }

  .header__burger span{
  position: absolute;
  background-color: var(--color-white);
  left: 0;
  width: 90%;
  height: 2px;
  top: 14px;
  transition: all .3s ease 0s;
  }

  .header__burger.push span{
  transform: scale(0);
  }

  .header__logo.push,
  .header__svg.push{
    opacity: .1;
    cursor: initial;
  }

  .header__menu{
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 70px 10px 20px 10px;
  transition: all .3s ease 0s;
  }

  .header__menu.push{
    top: 0;
  }

  .header__link:hover{
    color: var(--color-purple);
    transition: .3s ease-out;
  }

  .header__list {
    display: block;
    left: 45px;
    bottom: 134px;
    text-align: left;
    position: relative;
  }

  .header__list li{
  margin: 0 0 20px 0;
  }

  .custom-scroll{
  display: none ;
  }

  .header__body{
  height: 80px;
  }

  body.lock{
  overflow: hidden;
  }

  .header__cont {
    display: inline-block;
    z-index: 10;
    position: relative;
    left: 50px;
    top: 200px;
    padding: 17px 62px 12px 62px;
    border: 1px solid var(--color-purple);
    border-radius: 100px;
  }

  .header__antry-img:focus{
    border: none;
  }

  .header__link {
  font-size: 23px;
  line-height: 28px;
  }

  .header__antry{
  opacity: 1;
  }

  .header__logo {
  top: 10px;
  left: 18px;
  }

  .logo{
  width: 190px;
  }

  .header__search-btn svg{
  width: 32px;
  height: 32px;
  }

  .heder__text-container {
  left: 49px;
  bottom: 149px;
  }

  .header__btn {
  margin-top: 49px;
  top: 34px;
  }

  .header__title {
  height: 178px;
  }

  .header__text {
  width: 667px;
  }

  .swiper-slide1 {
  background-image: url('../img/unsplash1.png');
  }

  .swiper-slide2 {
  background-image: url('../img/unsplash2.png');
  }

  .swiper-slide3 {
  background-image: url('../img/unsplash3.png');
  }

  .swiper-slide{
  animation-duration: 40s ;
  animation-name: slidion;
  animation-iteration-count: infinite;
  background-size: cover;
  width: 100%;
  height: 100%;
  }

  @keyframes slidion {
  0% {
  background-size: 120%;
  background-position: 50% 50%
  }
  20% {
  background-size: 150%;
  background-position: 0 50%;
  }
  40% {
  background-size: 110%;
  background-position: 20% 80%;
  }
  60% {
  background-size: 160%;
  background-position: 60% 10%;
  }
  80% {
  background-size: 120%;
  background-position: 40% 70%;
  }
  100% {
  background-size: 120%;
  background-position: 50% 50%
  }
  }

  .header__search{
  display: block;
  z-index: 10;
  }

  .header__search {
  position: relative;
  width: 67px;
  height: 0px;
  right: 14.5%;
  color: rgba(255, 255, 255, 0.85);
  background-color: inherit;
  }

  .header__search-btn {
  position: absolute;
  top: -12px;
  left: 129px;
  border: none;
  width: 23px;
  height: 23px;
  transform: translateY(6px);
  background-color: transparent;
  }

  .header__search-btn.active{
    left: -104px;
  }

  .header__search:hover .header__search-btn rect,
  .header__search:hover .header__search-btn path {
  fill: var(--color-purple);
  }

  .header__input {
  font-size: 15px;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid var(--color-white);
  display: none;
  width: 195px;
  left: -56px;
  position: absolute;
  }

  .header__input:hover,
  .header__input:focus {
  border-bottom: 1px solid var(--color-purple);
  }

  input:hover::-webkit-input-placeholder { color:transparent; }
  input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder { color:transparent; }
  input:focus::-moz-placeholder { color:transparent; }
  input:focus:-ms-input-placeholder { color:transparent; }

  .swiper-container {
  max-width: 100%;
  height: 768px;
  }

  .about-us {
    height: 246px;
    max-width: 925px;
    margin: 0px 42px auto;
  }
}

@media (max-width: 768px){
  .header__search-btn {
  left: 93px;
  }

  .swiper-slide {
  height: 100%;
  }

  .header__input {
  width: 119px;
  left: -15px;
  position: relative;
  }

  .about-us {
    height: 342px;
    max-width: 666px;
    margin: 0px 45px auto;
  }

  .header__cont {
    display: inline-block;
    z-index: 10;
    position: relative;
    left: 11px;
    top: 170px;
    padding: 17px 62px 12px 62px;
    border: 1px solid var(--color-purple);
    border-radius: 100px;
  }

  .header__list {
    display: block;
    left: 51px;
    bottom: 100px;
    text-align: left;
    height: 390px;
  }

  .header__logo.active{
    display: none;
  }

  .header__burger.active{
    opacity: 0;
  }

  .header__search-btn.active{
    left: -567px;
  }

  .header__input.active {
    display: block;
    color: var(--color-white);
    width: 600px;
    left: -512px;
  }

  .header__search-btn::before,
  .header__search-btn::after{
  content: '';
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all .3s ease 0s;
  }

  .header__search-btn.active::before{
    transform: rotate(45deg);
    top: 16px;
    width: 132%;
    background-color: white;
    position: absolute;
    left: 48em;
  }

  .header__search-btn.active::after{
  transform: rotate(-45deg);
  bottom: 6px;
  width: 132%;
  background-color: white;
  left: 48em;
  }

  /*input[type="search"]::-webkit-search-cancel-button {-webkit-appearance: none;}*/
}

@media (max-width: 708px){
  .heder__text-container {
  text-align: center;
  bottom: 167px;
  }

  .header__title {
  width: 492px;
  font-size: 59px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  height: 139px;
  }

  .header__text {
  text-align: center;
  width: 505px;
  }

  .header__btn {
  margin-top: 0px;
  right: 12px;
  }

  .swiper-container {
  max-width: 100%;
  height: 646px;
  }

  .header__input.active {
    width: 428px;
    left: -391px;
  }

  .header__svg.active {
    position: relative;
    left: 100px;
  }

  .header__search-btn.active {
    left: -583px;
  }

}

@media (max-width: 560px){
  .swiper-slide1 {
  background-image: url('../img/unsplash001.png');
  }

  .swiper-slide2 {
  background-image: url('../img/unsplash002.png');
  }

  .swiper-slide3 {
  background-image: url('../img/unsplash003.png');
  }

  .header::before {
  height: 76px;
  }

  .header__burger {
  top: 0px;
  }

  .header__cont {
    left: 122px;
    top: 139px;
    padding: 17px 62px 12px 62px;
  }

  .header__list {
    left: 51px;
    bottom: 100px;
  }

  .header__logo {
  top: 0px;
  }

  .logo {
  width: 164px;
  }

  .header__search-btn {
  left: 78px;
  top: -25px;
  }

  .heder__text-container {
  bottom: 104px;
  }

  .header__title {
  font-size: 48px;
  width: 449px;
  line-height: 59px;
  height: 143px;
  }

  .header__text {
  width: 464px;
  }

  .header__btn {
  margin-top: 2px;
  right: 0px;
  bottom: 75px;
  width: 282;
  height: 62px;
  }

  .swiper-container {
  max-width: 100%;
  height: 533px;
  }

  .header__input {
  left: -15px;
  bottom: 14px;
  width: 103px;
  font-size: 13px;
  }

  .header__input {
  left: -14px;
  bottom: 12px;
  }

  .header__input.active {
    width: 275px;
    left: -259px;
  }

  .header__svg.active {
    position: relative;
    left: 257px;
  }

  .header__search-btn.active {
    left: -613px;
  }
}

@media (max-width: 508px){
  .header__search-btn svg {
  width: 23px;
  height: 23px;
  }

  .header__search-btn {
  top: -19px;
  }

  .header__input {
    left: -7px;
    width: 94px;
    font-size: 12px;
  }

  .logo {
  width: 131px;
  }

  .header__burger {
  width: 23px;
  height: 22px;
  }

  .header__burger span {
  top: 10px;
  }

  .header__burger.push::before {
  top: 2px;
  }

  .header__title {
  font-size: 33px;
  width: 413px;
  line-height: 46px;
  height: 107px;
  }

  .header__text {
  width: 413px;
  }

  .header__btn {
  margin-top: 69px;
  right: 0px;
  bottom: 72px;
  width: 282;
  height: 54px;
  }

  .header__btn {
  height: 56px;
  width: 253px;
  font-size: 13px;
  top: 9px;
  }

  .swiper-slide {
  height: 100%;
  }

  .heder__text-container {
  bottom: 72px;
  }

  .header__input.active {
    width: 173px;
    left: -204px;
  }

  .header__svg.active {
    position: relative;
    left: 368px;
  }

  .header__search-btn.active {
    left: -659px;
  }

  .header__search-btn.active::before{
    transform: rotate(45deg);
    top: 8px;
    width: 100%;
    background-color: white;
    position: absolute;
    left: 48em;
  }

  .header__search-btn.active::after{
  transform: rotate(-45deg);
  bottom: 13px;
  width: 100%;
  background-color: white;
  left: 48em;
  }

  .header__cont {
    left: 79px;
    top: 109px;
    padding: 12px 41px 8px 41px;
  }

  .header__list {
    left: 51px;
    bottom: 121px;
  }

}

@media (max-width: 425px){
  .header__burger {
  left: 16px;
  }

  .header__cont {
    left: 42px;
    top: -38px;
    padding: 12px 27px 8px 27px;
  }

  .header__list {
    left: 22px;
    bottom: 165px;
  }


  .swiper-slide {
  height: 100%;
  }

  .swiper-container {
  max-width: 100%;
  height: 466px;
  }

  .header__title {
  font-size: 27px;
  width: 321px;
  }

  .header__text {
  width: 321px;
  font-size: 13px;
  }

  .header__btn {
  top: -62px;
  margin-top: 101px;
  }

  .header__list li {
  margin: 19px 0 20px 0;
  }

  .header__link {
  font-size: 17px;
  line-height: 15px;
  }

  .heder__text-container {
  bottom: -16px;
  }

  .header__input.active {
    width: 306px;
    left: -235px;
  }

  .header__search-btn.active {
    left: -595px;
    top: -25px;
  }

  .header__svg.active{
    position: relative;
    left: 324px;
  }
}

@media (max-width: 375px){
  .header::before {
  height: 45px;
  }

  .header__body {
  height: 45px;
  }

  .header__burger {
  width: 16px;
  height: 15px;
  }

  .header__burger span {
  top: 6px;
  }

  .logo {
  height: 22px;
  width: 97px;
  }

  .header__search-btn svg {
  width: 20px;
  height: 20px;
  }

  .header__search-btn {
  top: -17px;
  }

  .swiper-slide {
  height: 100%;
  }

  .heder__text-container {
    bottom: -86px;
  }

  .header__title {
  height: 73px;
  width: 258px;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
  }

  .header__text {
  height: 86px;
  width: 265px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  }

  .header__btn {
  top: -161px;
  margin-top: 154px;
  height: 40px;
  width: 200px;
  border-radius: 100px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  }

  .swiper-container {
    max-width: 100%;
    height: 362px;
  }

.header__input {
    left: 8px;
    width: 75px;
    font-size: 10px;
  }

  .header__cont {
    left: 36px;
    top: -100px;
    padding: 12px 27px 8px 27px;
  }

  .header__list {
    left: 22px;
    bottom: 201px;
  }

  .header__burger.push::after {
    bottom: 11px;
  }

  .header__input.active {
    width: 282px;
    left: -206px;
  }

  .header__svg.active {
    left: 359px;
  }

  .header__search-btn.active::after {
    bottom: 8px;
    width: 97%;
    left: 48em;
  }

  .header__search-btn.active::before {
    top: 13px;
    width: 97%;
    left: 48em;
}
}

@media (max-width: 320px){
  .swiper-container {
  height: 355px;
  }

  .header__cont {
    left: -74px;
    top: -100px;
    padding: 8px 15px 2px 15px;
  }

  .header__list {
    left: 22px;
    bottom: 201px;
  }

  .heder__text-container {
  bottom: -116px;
  left: 27px;
  }

  .header__btn {
  margin-top: 182px;
  }

  .header__title {
  margin-left: 9px;
  }

  .header__text {
  margin-bottom: 0px;
  margin-top: 15px;
  }

  .header__logo {
    left: 26px;
  }

  .header__search-btn {
  left: 74px;
  }

  .about-us__title {
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  text-align: left;
  margin-bottom: 37px;
  position: relative;
  top: 28px;
  left: -31px;
  }

  .about-us__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
  left: -30px;
  height: 663px;
  width: 289px;
  }

  .header__input.active {
    width: 166px;
    left: -119px;
  }

  .header__svg.active {
    left: 444px;
    top: 3px;
  }

  .header.active::before {
    height: 75px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: inset 4px 20px 20px 6px rgb(0 0 0 / 55%);
}

.header__body.active {
  height: 95px;
}

.header__search-btn.active::after {
  bottom: 31px;
  width: 97%;
  left: 48em;
}

.header__search-btn.active::before {
  top: -9px;
  width: 97%;
  left: 48em;
}
}




