*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer; outline: none;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; outline: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
ul{padding: 0;}
li{padding: 0;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*--------------------*/

:root {                                 /* костомные цвета сайта */
	--color-purple: #9D5CD0;
	--color-dark-purple: #7943A4;
	--color-lite-orange: ;
	--color-white: #fff;
	--color-dark-grey: #666;
	--color-black: #000;
}

html{
  overflow-x: hidden;
  position: relative;
}

body{
	font-family: "Open Sans";
  overflow-x: hidden;
  position: relative;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
	margin-right: auto;
}

